*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background: #000000;
    color: #fff;
}
#header {
    width: 100%;
    height: 110vh;
    background-image: url("images/ami.png");
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 250px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #f6f09a;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 50px;
}
.header-text h1{
    font-size: 30px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #f6f09a;
}
#typing-text {
    color: #f6f09a;
    border-right: 2px solid #f6f09a;
    padding-right: 5px;
    white-space: nowrap;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
}
/*about*/

.about{
    padding: 80px 0;
    color : #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 65%;
    border-radius: 20px;
}
.about-col-2{
    flex-basis: 65%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.about-col-2 p {
    font-size: 20px;
    text-align: justify;
    line-height: 1.30;
}
.tab-titles{
    display: flex;
    margin: 30px 0 20px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #f6f09a;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-links::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li p{ /*Skills*/
    font-size: 20px;
    color: #f6f09a;
    line-height: 1.5;

}
.tab-contents ul li span{
    font-size: 18px;
    color: #fbfbf9;
    line-height: 1.5;

}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
#experience {
    list-style: none;
    padding: 0;
}
#experience span{
    position: relative;
    padding-right: 160px;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 400;
}
.information{
    font-size: 14px;
    color: #ccc;
}
.information span{
    position: relative;
    padding-left: 14px;
    margin-left: 8px;
}
.information span::before{
    content: "•";
    position: absolute;
    left: 0;
    color: #f6f09a;
    animation: glowDot 2s infinite;
}
@keyframes glowDot {
    0%{
        text-shadow: 0 0 5px #f6f09a;
        opacity: 0.5;
    }
    50%{
        text-shadow: 0 0 12px #f6f09a;
        opacity: 1;
    }
    100%{
        text-shadow: 0 0 5px #f6f09a;
        opacity: 0.5;
    }

}

/*services*/
#services {
    padding: 30px 0;
}
.services-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}
.service-card{
    position: relative;
    background: #262626;
    border-radius: 10px;
    padding-left: 40px;
    height: 180px;
    overflow: hidden;
    transition: background 0.10s ease, transform 0.5s ease;
}
.service-card:hover{
    background: gray;
    transform: translateY(-10px);
}
.front, .back{
    position: absolute;
    inset: 0;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: opacity 0.4s ease, transform 0.4s ease;
}
.front{
    opacity: 1;
    transform: translateY(0);
}
.front i{
    font-size: 40px;
    margin-bottom: 20px;
}
.front h2{
    font-size: 25px;
    font-weight: 500;
    color: #f6f09a;
}
.back{
    opacity: 0;
    transform: translateY(20px);
}
.back p{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
}
.service-card:hover .front{
    opacity: 0;
    transform: translateY(-20px);
}
.service-card:hover .back{
    opacity: 1;
    transform: translateY(0);
}


/*portfolio*/
#portfolio{
    padding: 50px 0;
}
.work-list, .more{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.more {
    display: none;
}

/* show when JS adds class */
.more.show {
    display: grid;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgb(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 600;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 30px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 14px;
    line-height: 40px;
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff004f;
}

/*Contact Me*/
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
    font-size: 18px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icon{
    margin-top: 30px;
}
.social-icon a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icon a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: gray;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: black;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}
.copyright i{
    color: #ff004f;
}
#backTop{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 45px;
    height: 45px;
    background: #df2626;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 1200;
}
#backTop.show{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
#backTop:hover{
    background: #f6f09a;
    color: #000000;
}
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    background: #393838;
    padding: 50px;
    border-radius: 12px;
    text-align: center;
    width: 90%;
    max-width: 500px;
    color: white;
    line-height: 1.5;
    animation: fadeIn 0.3s ease-in-out;
}
.modal-content p{
    padding-right: 20px;
    padding-left: 20px;
}
.modal-content i{
    color: white;
    text-decoration: none;
    font-size: 14px;
    line-height: 30px;
    background: green;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 26px;
    cursor: pointer;
    color: white;
}

@keyframes fadeIn {
    from { transform: scale(0.8); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}


/*responsive*/

nav .fa-solid{
    display: none;
}
@media only screen and (max-width:  600px){
    #header{
        background-image: url(images/phone-bg.png);

    }
    .header-text{
        margin-top: 20px;
        font-size: 18px;
        font-weight: bolder;
    }
    .header-text h1{
        font-size: 20px;
        margin-top: 20px;
    }

    .logo{
        width: 150px;
    }

    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .about{
        padding-top: 20px;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1{
        display: none;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
   /* .about-col-1 img{
        width: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }*/
    .about-col-2{
        font-size: 18px;
    }
    .about-col-2 p{
        font-size: 20px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .tab-contents ul li p{ /*Skills*/
        font-size: 20px;
        color: #f6f09a;
        line-height: 1.5;
        text-align: left;

    }
    #experience span{
        position: relative;
        padding-right: 50px;
        margin-bottom: 25px;
        font-size: 18px;
        font-weight: 400;
    }
    .information {
        display: block;
        margin-top: 5px;
    }
    .information span {
        display: block;
        margin-top: 4px;
    }
    .services-list {
        grid-template-columns: 1fr;
    }
    .service-card{
        position: relative;
        background: #262626;
        border-radius: 10px;
        padding-left: 40px;
        height: 130px;
        overflow: hidden;
        transition: background 0.10s ease, transform 0.5s ease;
    }
    .front i{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .front h2{
        font-size: 20px;
        font-weight: 500;
        color: #f6f09a;
    }
    .back p{
        font-size: 16px;
        font-weight: 300;
        line-height: 1.6;
    }
    .layer a{
        margin: 10px auto;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .modal-content h2{
        font-size: 18px;
    }
    .modal-content p{
        font-size: 16px;
    }

}
